{{ define "windows-tab-content" }}
<h3>Install and Set Up kubectl</h3>
    <div>
    See
    <a title="Install and setup kubectl" href="https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/">
      https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/
    </a>

    <h3>Please create the local kubectl config file</h3>

    <p>Open a cmd session</p>

    <div class="command">

      <button class="btn" style="float:right" data-clipboard-snippet="">
        <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
      </button>
      <pre><code>md "%USERPROFILE%/.kube/"</code></pre>
    </div>

  <h3>Get the kubeconfig file using the tab above</h3>

  <p>Place the content of kubeconfig in file: <tt>%USERPROFILE%/.kube/config</tt> (use your text editor)</p>
</div>
{{ end }}